.link {
  text-decoration: none;
  color: rgba(76, 198, 255, 0.979);
}

.main {
  width: 1280px;
  min-height: 1000px;
  background-image: url('../../book.png');
  /* background-repeat: no-repeat; */
  /* background-size: contain; */
  background-size: 50%;
}
